

<div class="col-lg-6">
<div class="panel panel-info">
  <div class="panel-heading">Requests for <%= @patient.firstname %></div>
  <div class="panel-body">
<table class="table table-hover table-striped table-bordered table-responsive">
<tr>
<th>Procedure</th>
<th>Specialist</th>
<th>Status</th>
<th>Date</th>
<th colspan="3">Options</th>
</tr>
<% for request in @requests %>
<tr>
<td><%= request.procedure %></td>
<td><%= request.specialist %></td>
<td><%= request.status %></td>
<td><%= request.date %></td>
<td><%= link_to 'Show', patient_request_path(@patient, request), class: "btn btn-success" %></td>
<% if current_user.admin? %>
<td><%= link_to 'Edit', edit_patient_request_path(@patient, request), class: "btn btn-warning" %></td>
<td><%= link_to 'Destroy', patient_request_path(@patient, request), :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %></td>
<% end %>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New request', new_patient_request_path(@patient), class: "btn btn-info btn-block" %>
<%= link_to 'Back to Patient', @patient, class: "btn btn-info btn-block" %>
</div>
</div>
</div>
