
<div class="col-lg-6">
<div class="panel panel-info">
  <div class="panel-heading">Requests for <%= @patient.firstname %></div>
  <div class="panel-body">
<b>Procedure:</b>
<%= @request.procedure %>
<b>Specialist:</b>
<%= @request.specialist %>
<b>Status:</b>
<%= @request.status %>
<b>Request Date:</b>
<%= @request.date %>
</div>
</div>
<%= link_to 'Edit', edit_patient_request_path(@patient, @request), class: "btn btn-info btn-block" %>
<%= link_to 'Back', patient_requests_path(@patient), class: "btn btn-info btn-block" %>
</div>
