<div class="col-lg-6">

<p id="notice"><%= notice %></p>

<div class="panel panel-info">
<div class="panel-heading"> Patient</div>
<div class="panel-body">
<table class="table table-hover table-striped table-bordered table-responsive">

<thead>
<tr>
<th>Firstname</th>
<th>Lastname</th>
<th>D.O.B</th>
<th>Complaint</th>
<th>Address</th>
</tr>
</thead>

<tbody>
<tr>
<td><%= @patient.firstname %></td>
<td><%= @patient.lastname %></td>
<td><%= @patient.dob %></td>
<td><%= @patient.complaint %></td>
<td><%= @patient.address %></td>
</tr>

</tbody>
</table>
</div>
</div>

<div class="panel panel-info">
<div class="panel-heading"> Requests</div>
<div class="panel-body">

<!-- Display the reviews of a movie -->


<table class="table table-hover table-striped table-bordered table-responsive">
<thead>
    <tr>
      <th>Procedure</th>
      <th>Specialist</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
<% @patient.requests.each do |request| %>

<tr>
<td>
<%= request.procedure %>
</td>
<td>
<%= request.specialist %>
</td>
<td>
<%= request.status %>
</td>
<td>
<%= request.date %>
</td>
<% end %>
</tr>
</table>
</div>
</div>


<%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-info btn-block" %>
<%= link_to 'Back', patients_path, class: "btn btn-info btn-block" %>
<%= link_to 'Show Requests', patient_requests_path(@patient), class: "btn btn-info btn-block" %>
</div>
